#prompt {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 6em;
  color: white;
  justify-content: center;
}

body {
  background-image: url("resume-game-homepage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

footer {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: right;
}
