<!DOCTYPE html>
<html>
  <head>
    <title>Resume Game Homepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="homepage-img">
      <% byebug %>
    <% if @logged_in %>
        <a href="#">About</a>
        <a href="#">Profile</a>
        <a href="#">Analytics</a>
        <a href="/logout">Logout</a>
    <%end%>
    <%= yield %>
  </body>
  <% if @logged_in %>
      <footer>
          <p>resume game? is a proof-of-concept project designed by Srikant Kalaputapu and Trevor Jameson</p>
      </footer>
   <%end%>
</html>
